* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

html {
  scroll-behavior: smooth;
}
/* 
*===============================
*         VARIÁVEIS
*===============================
*/
:root {
  --body-color: #f3f4f3;
  --black-color: #000000;
  --dark-color: #1e1e1e;
  --light-pink: #f2ece7;
  --gray-color: #707070;
  --white-color: #ffffff;
  --green-color: #16b36e;
  --red-color: #ed1212;
  --salmon-color: #f57250;
  --light_gray-color: #eff1f2;
  --transition: all 0.4s ease-in-out;
}

/* 
*===============================
*         PAGE SETTINGS
*===============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.9rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  background-color: var(--body-color);
  position: relative;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  font-weight: 400;
}

.shrunk {
  padding: 10px 5% !important;
  top: 0 !important;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05);
}

.shrunk-h3 {
  font-size: 1.5rem;
}

.shrunk-icons {
  font-size: 1.3rem;
}

.parallax {
  background-image: url("./assets/images/parallax-image.jpg");
  position: relative;
  height: 560px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
